.dataTables_wrapper .dataTables_paginate .paginate_button.current, 

      .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

             background: none !important;

             border-radius: 50px;

         background-color: var(--theadColor) !important;

         color:rgb(0, 0, 0) !important

      }

.paginate_button.current:hover

{

        background: none !important;

             border-radius: 50px;

             background-color: var(--theadColor) !important;

         color:rgb(0, 0, 0) !important

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

  border: 1px solid #979797;

  background: rgb(111, 157, 255) !important;
  color: #fff !important;

}